// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$mustard: #FBB02D;

body {
  background: $mustard;
  color : white;
  text-decoration: none;
}
